.container {
    width: 60%;
    height: 300px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .socials {
    border: 10px solid var(--clr);
    top: 60%;
    transition: 0.5s all ease-in-out;
    text-align: center;
    padding: 10px;
  }
  .socials i {
    opacity: 0.7;
    font-size: 2em;
    padding: 10px;
    color: var(--clr);
    transition: all 0.4s ease-in-out;
    opacity: 1;
  }
  
  .socials .instagram_icon i {
    background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(255, 210, 85));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .socials .github_icon i {
    color: greenyellow;
  }
  .socials .codepen_icon i {
    color: yellow;
  }
  .socials .linkedin_icon i {
    color: #0077b5;
  }
  .socials .medium_icon i {
    color: rgb(140, 41, 41);
  }
  .socials i:hover {
    transform: scale(1.5) rotate(360deg);
    opacity: 1;
  }
  